body {font-family: 'Open Sans', sans-serif; color: #000;}

[class*="ic-"] {background: url("../img/mx.png") no-repeat;}

.header {/*padding: 0px 0 69px 0;*/ position: relative;}
.logo {background: url("../img/mx.png") no-repeat; width: 152px; height: 79px; display: block; margin: 0 auto; text-indent: -9000px; overflow: hidden; clear: both;}
.languages {position: absolute; top: -5px; right: 0; font-size: 13px; z-index: 100;}
.languages-title {float: left; padding: 4px 9px 0 0;}
.lang-inner {float: left; background: #f2f5f8; border-radius: 2px; border-bottom: 1px solid #e5e5e5; padding: 1px 10px 5px 7px; width: 119px;}
.ic-globe {background-position: -200px 0; display: inline-block; vertical-align: top; width: 16px; height: 16px; position: relative; margin: 0 4px 0 0;}
.languages-title i {font-style: normal; display: inline-block; vertical-align: top; position: relative; top: -2px; color: #303234;}
a#flagtoogle {position: relative; color: #303234; text-decoration: none; display: inline-block; width: 100%; padding: 0 6px 0 0; outline: none;}
a#flagtoogle .folFlag {display: inline-block; vertical-align: top; position: relative; top: 6px; margin: 0 8px 0 0;}
a#flagtoogle i {font-style: normal; display: inline-block;}
.ic-arr {background-position: -200px -21px;  width: 6px; height: 5px; position: absolute; right: 0; top: 10px;}
.lang-list {width: 119px; position: absolute; top: 26px; right: 0; list-style: none; margin: 0; padding: 0; display: none;}
.lang-list li {background: #f2f5f8; border-bottom: 1px solid #e5e5e5; padding: 1px 10px 5px 7px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px;}
.lang-list li a {color: #303234; text-decoration: none; position: relative; padding: 0 6px 0 0; display: block;}
.lang-list li a span.folFlag {display: inline-block; vertical-align: top; position: relative; top: 6px; margin: 0 8px 0 0;}
.lang-list li i {font-style: normal; display: inline-block;}
.title {text-align: center; padding: 56px 0 0 0;}
.title h1 {font-size: 44px; margin: 0 0 10px 0;}
.title h2 {font-size: 28px; color: #5f5f5f; margin: 0;}
.slider .carousel-control.left {background: none; left: 15px;}
.slider .carousel-control.right {background: none; right: 15px;}
.slider .carousel-inner > .item {padding: 38px 0 47px 0;}
.slider .carousel-inner > .item img {margin: 0 auto;}
.slider .glyphicon-chevron-left {background: url("../img/prev-bg.png") no-repeat; width: 78px; height: 153px; margin: 0; top: 109px;}
.slider .glyphicon-chevron-left::before {display: none;}
.slider .glyphicon-chevron-right {background: url("../img/next-bg.png") no-repeat; width: 78px; height: 153px; margin: 0; top: 109px;}
.slider .glyphicon-chevron-right::before {display: none;}
.slider .carousel-control {width: auto;}
.slider .carousel-inner > .item p {color: #2d2d2d; font-size: 18px; text-align: center; line-height: 1.6; margin: 0; padding: 33px 0 0 0;}
.buttons-wrap {text-align: center;  margin-bottom: 69px;}
.buttons-wrap > a {display: inline-block; background: #ff5700; height: 67px; line-height: 59px; border-bottom: 4px solid #b73e00; border-radius: 28px; color: #fff; font-size: 21px; font-weight: 600; width: 310px; margin: 0 11px;
    -moz-box-shadow: 0 2px 3px 0px #ffd0b7;
    -webkit-box-shadow: 0 2px 3px 0px #ffd0b7;
    box-shadow: 0 2px 3px 0px #ffd0b7;}
.buttons-wrap > a:hover,.buttons-wrap > a:active,.buttons-wrap > a:focus {text-decoration: none;}
.buttons-wrap > a.activate {background: #3390ee; border-bottom-color: #186dc2;
    -moz-box-shadow: 0 2px 3px 0px #b9cbdc;
    -webkit-box-shadow: 0 2px 3px 0px #b9cbdc;
    box-shadow: 0 2px 3px 0px #b9cbdc;}

.main {background: #283d53 url("../img/main-bg.png") center top no-repeat; min-height: 609px; position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;}
.main h2 {font-size: 44px; color: #fff; font-weight: 300; text-align: center; margin: 0; line-height: 1.3; padding: 84px 0 0 0;}
.deals-box {text-align: center; padding: 104px 0 0 0;}
.deals-box span {display: inline-block; vertical-align: top; position: relative;}
.ic-01 {background-position: 0 -100px; width: 84px; height: 92px;}
.ic-02 {background-position: -100px -100px; width: 136px; height: 73px; top: 19px;}
.ic-03 {background-position: -300px -100px; width: 110px; height: 76px; top: 20px;}
.ic-04 {background-position: -300px 0px; width: 70px; height: 72px; top: 30px;}
.box-inner {min-height: 132px;}
.deals-box p {text-transform: uppercase; font-size: 15px; font-weight: 600; margin: 0; color: #fff; padding: 0 10px; line-height: 1.6;}

.count-wrap {background: #f4f7fa; text-align: center; color: #233649; padding: 97px 0 126px 0;}
.count-wrap h2 {font-size: 44px; font-weight: 300; margin: 0; line-height: 1.3;}
.count-list {margin: 0; padding: 95px 0 0 0; list-style: none;}
.count-list li {display: inline-block; vertical-align: top; width: 33.3%; margin: 0 -4px 0 0; border-left: 1px solid #d3d7dc;}
.count-list li:first-child {border-left: 0;}
.count-inside span {font-size: 72px; font-weight: 300; line-height: 0.9;}
.count-inside p {text-transform: uppercase; font-size: 18px; font-weight: 600; margin: 0; line-height: 1.2; padding: 20px 0 0 0;}

.fares-wrap {padding: 69px 0 77px 0;}
.fares-wrap h2 {font-size: 44px; font-weight: 300; margin: 0 0 57px 0; line-height: 1.3; text-align: center;}
.btn.informer {background: url("../img/mx.png") 0 -200px no-repeat; width: 15px; height: 16px; border: 0; padding: 0; margin: 0 0 0 6px;}
.coll-one {width: 70%;}
.table-wrap {padding: 0 0 48px 0;}
.table-wrap table tr td {border: 0; padding: 13px 20px; font-weight: 600;}
.table-wrap table tr td:nth-child(2n) {text-align: right;}
.table-wrap h3 {font-weight: 600; font-size: 18px; text-transform: uppercase; color: #ff5200; margin: 0 0 18px 0;}
.table-wrap .table-striped > tbody > tr:nth-of-type(2n+1) {background-color: #f4f7fa;}
.body .popover {border-radius: 0; font-size: 13px; color: #747474; line-height: 1.6; max-width: 302px; border: 2px solid #d5dade;}
.body .popover.bottom > .arrow {border-bottom-color: #d5dade;}
.body .popover.bottom > .arrow::after {top: 3px;}
.free {color: #fd7332;}
.form-wrap {background: #233649 url("../img/form-wrap-bg.jpg") center top no-repeat; min-height: 975px; padding: 30px 0 40px 0;}
.form-wrap h2 {font-size: 44px; color: #fff; font-weight: 300; text-align: center; margin: 0 0 24px 0; line-height: 1.3;}
.form-inner {background: #fff; padding: 14px 9% 30px 8.8%; margin: 0 auto; border-radius: 2px;}
.form-inner:after {
    content: "";
    background: url("../img/form-inner-after-bg.png") center top no-repeat;
    width: 100%;
    height: 59px;
    position: absolute;
    bottom: -59px;
    left: 0;}
.form-inner label {color: #686e75; font-size: 15px; margin: 9px 0 12px 0;}
.form-inner .form-control {background: #f4f7fa; border: 2px solid #cdd6e0; color: #cfd5dc; height: 45px; padding: 8px 15px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;}
.phone .form-control:first-child {margin-left: 0;}
.phone .form-control {width: 13.9%; float: left; margin-left: 3%; padding: 8px 10px;}
.phone .form-control.last {width: 66.2%;}
.form-control option {color: #2f3235; padding: 8px 15px;}
.form-inner .checkbox {margin: 12px 0 26px 0;}
.form-inner .checkbox label {color: #3a3d40; margin: 0;}
.form-inner .btn {display: block; background: #ff5700; height: 59px; line-height: 47px; border: 0; border-bottom: 4px solid #b73e00; border-radius: 28px; color: #fff; font-size: 21px; font-weight: 600; width: 274px; margin: 0 auto; padding: 0;
    -moz-box-shadow: 0 2px 3px 0px #ffd0b7;
    -webkit-box-shadow: 0 2px 3px 0px #ffd0b7;
    box-shadow: 0 2px 3px 0px #ffd0b7;}
.support {text-align: center; color: #fff; padding: 39px 0 0 0;}
.support h3 {font-size: 30px; font-weight: 300; margin: 0;}
.support p {margin: 2px 0 5px 0; color: #a3b2c3; font-size: 16px; font-weight: bold;}
.tell {font-weight: 600; font-style: normal; font-size: 60px; display: block;}

.carusel {padding: 37px 0 27px 0;}
.carusel.carousel-control.left {background: none;}
.carusel.carousel-control.right {background: none;}
.carusel .carousel-inner > .item {padding: 10px 0 10px 0; text-align: center;}
.carusel .carousel-inner > .item img {display: inline-block; margin: 0 7px;}
.carusel .glyphicon-chevron-left {background: url("../img/mx.png") -400px 0 no-repeat; width: 17px; height: 32px; margin: -16px 0 0 0;}
.carusel .glyphicon-chevron-left::before {display: none;}
.carusel .glyphicon-chevron-right {background: url("../img/mx.png") -400px -32px  no-repeat; width: 17px; height: 32px; margin: -16px 0 0 0;}
.carusel .glyphicon-chevron-right::before {display: none;}
.carusel .carousel-control {width: auto;}


.footer {background: #242a2f; font-family: 'PT Sans', sans-serif;}
.footer-top {padding: 46px 0 0 0;}
.block {padding: 0 0 17px 0;}
.block h3 {font-size: 16px; font-weight: 600; color: #fff; text-transform: uppercase; margin: 0 0 10px 0;}
.block-list {list-style: none; margin: 0; padding: 0;}
.block-list li {padding: 0 0 7px 0;}
.block-list li a {color: #fff; text-decoration: underline;}
.block-list li a:hover {text-decoration: none;}
.soc-list {list-style: none; margin: 0; padding: 0;}
.soc-list li {display: inline-block; vertical-align: top; margin: 0 5px 5px 0;}
.soc-list li a {background: url("../img/mx.png") no-repeat; display: block; width: 26px; height: 26px; text-indent: -9000px; overflow: hidden;}
.soc-list li a.odnok {background-position: -19px -200px;}
.soc-list li a.vk {background-position: -54px -200px;}
.soc-list li a.twitter {background-position: -91px -200px;}
.soc-list li a.linkedin {background-position: -126px -200px;}
.soc-list li a.mailru {background-position: -163px -200px;}
.soc-list li a.facbook {background-position: -199px -200px;}
.soc-list li a.google {background-position: -235px -200px;}
.footer-middle .row {border: 1px solid #2f373d; border-width: 1px 0; padding: 22px 0 27px 0;}
.text h4 {margin: 0 0 12px 0; font-size: 14px; color: #fff;}
.text p {margin: 0; color: #5f676d;}
.text p a {color: #abb3ba; text-decoration: underline;}
.footer-sponsors {text-align: center; padding: 9px 0 14px 0;}
.sponsors-list {list-style: none; margin: 0; padding: 0;}
.sponsors-list li {display: inline-block; vertical-align: middle; margin: 5px 13px;}
.footer-bottom {background: #1d2125; padding: 8px 0 4px 0;}
.copy {margin: 0; color: #8d8d8d; font-size: 13px; padding: 1px 0 0 0;}
.footer-bottom .languages {float: right; position: relative; margin: 6px 0 0 0;}
.footer-bottom .languages-title i {color: #626a72;}
.footer-bottom .lang-inner {background: #262b30; border: 0;}
a#flagtoogle-second i {display: inline-block; font-style: normal; color: #8d8d8d;}
a#flagtoogle-second {position: relative; color: #8d8d8d; text-decoration: none; display: inline-block; width: 100%; padding: 0 6px 0 0; outline: none;}
a#flagtoogle-second .ic-arr {background-position: -200px -31px; width: 7px; height: 6px;}
.footer-bottom .lang-list {top: auto; bottom: 23px;}
.footer-bottom .lang-list li {background: #262b30; border-bottom-color: #8d8d8d;}
.footer-bottom .lang-list li a {color: #8d8d8d;}

/* popap */
.body .modal-header {border: 0;}
.body .modal-body h2 {margin: 0; font-size: 48px; font-weight: 300; padding: 19px 0 60px 0;}
.body button.close {background: url("../img/mx.png") -200px -45px no-repeat; width: 18px; height: 18px; margin: 3px 5px 0 0;}
.body .modal-backdrop {z-index: auto;}
.body .close {opacity: 1;}



/* responsive */
@media (max-width: 767px) {
        .header {padding: 0px 0 20px 0;}
        .languages {position: relative; float: right; margin-bottom: 10px;}
        .title h1 {font-size: 34px;}
        .title h2 {font-size: 18px;}
        .slider .glyphicon-chevron-left::before {display: block;}
        .slider .glyphicon-chevron-left {background: none; height: auto; width: auto; top: 50%;}
        .slider .glyphicon-chevron-right::before {display: block;}
        .slider .glyphicon-chevron-right {background: none; height: auto; width: auto; top: 50%;}
        .slider .carousel-inner > .item p {font-size: 13px; padding: 0;}
        .slider .carousel-inner > .item {padding: 20px 0;}
        .buttons-wrap {padding: 0 10px;}
        .buttons-wrap > a {width: 100%; margin-bottom: 10px;}
        .main h2 {font-size: 24px; padding: 30px 0 0 0;}
        .deals-box {padding: 30px 0 0 0;}
        .main {padding: 0 0 30px 0;}
        .count-wrap h2 {font-size: 24px; padding: 30px 0 0 0;}
        .count-wrap {padding: 20px 0 20px 0;}
        .count-list {padding: 20px 0 0 0;}
        .count-list li {width: 100%;  border-top: 1px solid #d3d7dc; border-width: 1px 0 0 0; padding: 10px 0;}
        .count-list li:first-child {border-top: 0;}
        .count-inside span {font-size: 52px;}
        .count-inside p {font-size: 14px; padding: 10px 0 0 0;}
        .fares-wrap h2 {font-size: 24px; padding: 30px 0 0 0; margin: 0 0 40px 0;}
        .fares-wrap  {padding: 20px 0 20px 0;}
        .table-wrap h3 {font-size: 16px;}
        .table-wrap {padding: 0;}
        .form-wrap h2 {font-size: 24px; padding: 0;}
        .tell {font-size: 36px;}
        .support h3 {font-size: 26px;}
    .footer-bottom .languages {margin: 15px 0;}


}

@media (max-width: 480px) {
    .phone .form-control {width: 100%; margin: 0 0 15px 0;}
    .phone .form-control.last {width: 100%; margin: 0;}
    .form-inner .btn {width: 100%;}
}

.navbar.navbar-default {
  background-color: #fff;
  border-bottom: 0px;
  margin-bottom: 0px;
  border-top: 4px solid #ff5600;
  border-bottom: 1px solid #ededed;
}
.blue-header .navbar.navbar-default {
  background-color: #fff;
  border-bottom: 0px;
  margin-bottom: 0px;
  border-top: 4px solid #3390ee;
  border-bottom: 1px solid #ededed;
}
.navbar.navbar-default .navbar-header {
  padding-top: 10px;
  margin: 0px;
}
.navbar-brand {
  height: 64px;
  width: 103px;
  padding: 0px 20px;
}
@media (max-width: 767px) {
  .navbar-brand {
    padding: 0px;
  }
}
@media (max-width: 991px) {
  .navbar-brand img {
    margin-top: 0;
  }
}
#navbar-collapse {
  padding-top: 8px;
  padding-right: 0px;
}
@media (max-width: 767px) {
  #navbar-collapse {
    padding-top: 0px;
  }
}
.nav.navbar-nav {
  padding: 20px 0px 0px;
  float: none;
  margin-left: 80px;
}
@media (max-width: 767px) {
  .nav.navbar-nav {
    float: left;
    padding: 5px 0px 10px;
    margin-left: 0px;
  }
}
.nav.navbar-nav li a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px;
  margin-left: 35px;
  color: #3390ee;
  font-weight: 700;
  font-size: 14px;
}
@media (max-width: 1199px) {
  .nav.navbar-nav li a {
    margin-left: 30px;
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  .nav.navbar-nav li a {
    font-size: 12px;
    margin-left: 30px;
  }
}
@media (max-width: 767px) {
  .nav.navbar-nav li a {
    padding: 10px 0px;
    margin-left: 0px;
    font-size: 14px;
  }
}
.nav.navbar-nav li a:hover,
.nav.navbar-nav li a.active,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #fff;
  color: #ff5600;
}
.nav.navbar-nav li.cabinet {
  display: block;
  float: right;
}
@media (max-width: 767px) {
  .nav.navbar-nav li.cabinet {
    float: none;
  }
}
.nav.navbar-nav li.language {
  float: right;
  margin-left: 35px;
}
@media (max-width: 1199px) {
  .nav.navbar-nav li.language {
    margin-left: 0px;
  }
}
@media (max-width: 991px) {
  .nav.navbar-nav li.language {
    margin-left: 0px;
  }
}
@media (max-width: 767px) {
  .nav.navbar-nav li.language {
    margin-left: 0px;
  }
}
.nav.navbar-nav li.language span.visible-lg {
  display: inline !important;
}
@media (max-width: 1199px) {
  .nav.navbar-nav li.language span.visible-lg {
    display: none !important;
  }
}
.nav.navbar-nav li.language a.dropdown-toggle {
  float: right;
  font-weight: 300;
  color: #333;
  font-size: 12px;
  text-transform: none;
  background-color: #f2f2f2;
  padding: 3px 6px 4px;
  margin-left: 10px;
  top: -3px;
}
.nav.navbar-nav li.language a.dropdown-toggle img {
  position: relative;
  top: -1px;
  margin-right: 5px;
}
.nav.navbar-nav li.language .dropdown-menu li a {
  font-weight: 300;
  color: #333;
  font-size: 12px;
  text-transform: none;
  margin: 5px 10px;
}
.nav.navbar-nav li.language .dropdown-menu li a:hover {
  color: #ff5600;
}
.nav.navbar-nav li.language .dropdown-menu li a img {
  position: relative;
  top: -2px;
  margin-right: 5px;
}
.navbar-default .navbar-toggle {
  margin: 9px 0px 0px;
}.navbar.navbar-default {
  background-color: #fff;
  border-bottom: 0px;
  margin-bottom: 0px;
  border-top: 4px solid #ff5600;
  border-bottom: 1px solid #ededed;
}
.blue-header .navbar.navbar-default {
  background-color: #fff;
  border-bottom: 0px;
  margin-bottom: 0px;
  border-top: 4px solid #3390ee;
  border-bottom: 1px solid #ededed;
}
.navbar.navbar-default .navbar-header {
  padding-top: 10px;
  margin: 0px;
}
.navbar-brand {
  height: 64px;
  width: 103px;
  padding: 0px 20px;
}
@media (max-width: 767px) {
  .navbar-brand {
    padding: 0px;
  }
}
@media (max-width: 991px) {
  .navbar-brand img {
    margin-top: 0;
  }
}
#navbar-collapse {
  padding-top: 8px;
  padding-right: 0px;
}
@media (max-width: 767px) {
  #navbar-collapse {
    padding-top: 0px;
  }
}
.nav.navbar-nav {
  padding: 20px 0px 0px;
  float: none;
  margin-left: 80px;
}
@media (max-width: 767px) {
  .nav.navbar-nav {
    float: left;
    padding: 5px 0px 10px;
    margin-left: 0px;
  }
}
.nav.navbar-nav li a {
  text-transform: uppercase;
  text-decoration: none;
  padding: 0px;
  margin-left: 35px;
  color: #3390ee;
  font-weight: 700;
  font-size: 14px;
}
@media (max-width: 1199px) {
  .nav.navbar-nav li a {
    margin-left: 30px;
    font-size: 12px;
  }
}
@media (max-width: 991px) {
  .nav.navbar-nav li a {
    font-size: 12px;
    margin-left: 30px;
  }
}
@media (max-width: 767px) {
  .nav.navbar-nav li a {
    padding: 10px 0px;
    margin-left: 0px;
    font-size: 14px;
  }
}
.nav.navbar-nav li a:hover,
.nav.navbar-nav li a.active,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #fff;
  color: #ff5600;
}
.nav.navbar-nav li.cabinet {
  display: block;
  float: right;
}
@media (max-width: 767px) {
  .nav.navbar-nav li.cabinet {
    float: none;
  }
}
.nav.navbar-nav li.language {
  float: right;
  margin-left: 35px;
}
@media (max-width: 1199px) {
  .nav.navbar-nav li.language {
    margin-left: 0px;
  }
}
@media (max-width: 991px) {
  .nav.navbar-nav li.language {
    margin-left: 0px;
  }
  .carousel-control{
    display: none;
  }
}
@media (max-width: 767px) {
  .nav.navbar-nav li.language {
    margin-left: 0px;
  }
  body .main {
    padding-bottom: 50px;
  }
}
.nav.navbar-nav li.language span.visible-lg {
  display: inline !important;
}
@media (max-width: 1199px) {
  .nav.navbar-nav li.language span.visible-lg {
    display: none !important;
  }
}
.nav.navbar-nav li.language a.dropdown-toggle {
  margin-left: 0;
  float: right;
  font-weight: 300;
  color: #333;
  font-size: 12px;
  text-transform: none;
  background-color: #f2f2f2;
  padding: 3px 6px 4px;
  margin-left: 10px;
  top: -3px;
}
.nav.navbar-nav li.language a.dropdown-toggle img {
  position: relative;
  top: -1px;
  margin-right: 5px;
}
.nav.navbar-nav li.language .dropdown-menu li a {
  margin-left: 10px;
  font-weight: 300;
  color: #333;
  font-size: 12px;
  text-transform: none;
  margin: 5px 10px;
}
.nav.navbar-nav li.language .dropdown-menu li a:hover {
  color: #ff5600;
}
.nav.navbar-nav li.language .dropdown-menu li a img {
  position: relative;
  top: -2px;
  margin-right: 5px;
}
.navbar-default .navbar-toggle {
  margin: 9px 0px 0px;
}

.main{
  padding-bottom: 100px;
}

html, body{
overflow-x: hidden;
}